extends layout
block content
    h1 用户详情
    if error
      div.error.bg-warning!= error    
    p#username 用户名 
      span #{user.username}

    p#sid 学号 
      span #{user.sid}

    p#phone 电话 
      span #{user.phone}

    p#email 邮箱 
      span #{user.email}

    button.btn.btn-danger 注销
    script(type='text/javascript' src='js/detail.js')
 
